:root{
    --primary: #1eb87f; 
    --secondary: rgb(255, 255, 255);
}

.btn{
        padding: 8px 20px;
        border-radius: 10px;
        border: 3px solid;
}
 

.btn-outline{
    font-size: 40pt;
    background-color: #1eb87f;
    color: #fff;
    padding: 8px 20px;
    border-color: var(--secondary);
    transition: all 0.3s ease-out;
    margin-left: 10%;  
    float:left;
}

.btn-login{
    font-size: 40pt;
    background-color: var(--primary);
    color: #fff;
    padding: 8px 20px;
    border-color: var(--secondary);
    transition: all 0.3s ease-out;
    margin-right: 10%;
    position: right;
    float: right;
    
}

.btn-acc{
    font-size: 40pt;
    background-color: #1eb87f;
    color: #fff;
    padding: 80px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    margin-left: 10%;
    position: left;
    float: left;
    
}

.btn-cancel{
    font-size: 40pt;
    background-color: #d3002d;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;

  
    border-color: var(--secondary);
    transition: all 0.3s ease-out;
    margin-left: 10%;
    position: left;
    float: left;
}

.btn-large:hover,
.btn-medium:hover {
  transition: all 0.3s ease-out;
  background: gray;
  color: black;
  transition: 400ms;
}


  