:root{
    --primary: #fff; 
}

.btn{
        padding: 8px 20px;
        border-radius: 3px;
}
 
.btn-primary{
    background-color: var(--primary);
    color: #bbb;
    border: 1px solid var(--primary);
}

.btn-outline{
    font-size: 60pt;
    background-color: #1eb87f;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    margin-left: 10%;
    
    float:left;
}
.btn-login{
    font-size: 60pt;
    background-color: #1eb87f;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    margin-right: 10%;
    position: right;
    float: right;
    
}

.btn-cancel{
    background-color: transparent;
    color: #e03e76;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}



  