form { 
  margin: 0 auto; 
  display: table;
  
}

.submitbtn{
  font-size: 40pt;
  background-color: #1eb87f;
  color: #fff;
  display: block;   
  border:solid 2px black;
  width: fit-content;
  float: right;
  margin-right: 10%;
  
}


select{
  
    display: block;   
    border:solid 2px black;
    float: right;

}


label{
  text-align: right;
}

h1{
  font-size: 50px;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  color: white;
}
    
.patient{
    font-size: 30px;
    background-color: whitesmoke;
    padding : 20px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 10px;
    border-style: double;
    border-width: 10px;
    
    
}

.contact{
  font-size: 40px;
  
  background-color: whitesmoke;
    
  display: grid;
  grid-template-columns: auto auto auto auto ;
  grid-gap: 20px;
  border-style: double;
  border-width: 10px;
}


.radio .label{
  font-size: 40px;
  
  background-color: whitesmoke;
    
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  column-gap: 10px;
  width: 60px;
}

input[type="radio"] {
  margin-top: 15px;
  vertical-align: middle;
  width: 50px;
}





