html {
    position: relative;
    min-height: 100%;
}

.title{
    background: whitesmoke;
    border: 5px solid gray;
    font-size: 50pt;
    height: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: static;
    width: 100%;
    
    color: #1eb87f;
    -webkit-text-stroke: 2px rgb(0, 0, 0);  
}

.footer {
    background-color: whitesmoke;
    border: 5px solid gray;
    padding: 10px ;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow:hidden;
}

.result{
    background: whitesmoke;
    border: 5px solid gray;
    font-size: 50pt;
    text-align: center;   
    width: 100%;   
    color: #1eb87f;
    -webkit-text-stroke: 2px rgb(0, 0, 0);  
}



form{

    margin: 0 auto; 
    width:250px;
}

label{
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 2px black;
    
    
    width: 300px;
    
    
}

input {
  display: inline-block;
  width:500px;
  font-size:40px;
  margin:5px 0px 15px 0px;
  
}

#acc input{
    
    display: block;
    
    padding:4px 2px;
    border:solid 1px #aacfe4;
    
    
}

